body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #333 !important;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

/* Simple style for the active navbar item */
.navbar-nav .nav-link.active {
    color: #288fe5 !important; /* Blue text for active link */
    font-weight: bold; /* Bold font for active link */
}


.container {
    max-width: 1200px;
}

h2, h3 {
    margin-bottom: 20px;
}

p.lead {
    font-size: 1.25rem;
}

.btn {
    margin-top: 10px;
}


footer {
    background-color: #343a40;
    color: #f8f9fa;
}

footer h5 {
    color: #f8f9fa;
}

footer ul li a:hover {
    color: #007bff;
}

footer p, footer ul li {
    margin-bottom: 10px;
}

.mt-auto {
    margin-top: auto; /* Push the footer to the bottom when content is less */
}
