{% extends "clienttemplates/base.html" %}

{% block title %} Contact {% endblock %}

{% block contact %}active{% endblock %}

{% block content %}
    <section class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <h5>{{ site_info.municipality }}
                            - {{ site_info.ward_no }}, {{ site_info.name }}, {{ site_info.district }}, Nepal</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ site_info.image.url }}" alt="{{ site_info.name }}" class="img-fluid mt-3 mb-3">
                        <p>{{ site_info.short_description|safe }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><span class="fw-bold">Phone Number: </span> {{ site_info.contact_number }}</p>
                        <p><span class="fw-bold">Email: </span> {{ site_info.contact_email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="mb-4">Contact Us/ Provide Suggestion</h5>
                        <hr>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}